

@font-face {
    font-family:Playfair_Display;
    src: url("../assets/fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf");
}
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-Playfair: "Playfair_Display", serif;
}