@font-face {
    font-family:Playfair_Display;
    src: url("../assets/fonts/PlayfairDisplay/static/PlayfairDisplay-Regular.ttf");
}

@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@theme {
    --font-Playfair: "Playfair_Display", serif;
}